<!DOCTYPE html>
<html>
    <head>
        <title>Redmine Issuses</title>
        <script src="../lib/jquery-3.1.0.min.js"></script>
        <script src="../src/option.js"></script>
        <link rel="stylesheet" type="text/css" href="../css/option.css">
    </head>
    
    <body>
        <div class="status success" style="display: none;">
            <p>Dane zostały zapisane</p>
        </div>

         <div class="status error" style="display: none;">
            <p>Pole nie może być puste</p>
        </div>

        <div class="input">
            <label for="url">Adres pobrania danych</label>
            <input type="url" id="url" name="url">
        </div>
        <div class="input">
            <label for="delay">Odświeżanie dancyh (ms)</label>
            <input type="number" id="delay" name="delay" min="1000" max="10000">
        </div>

        <div class='center'>
            <button id="save">Zapisz</button>
        </div>
        
    </body>
   
</html>