<!DOCTYPE html>
<html>
    <head>
        <title>Redmine Issuses</title>
        <link rel="stylesheet" type="text/css" href="../css/popup.css">
    </head>
    
    <body>
        <div id="wrapper">

            <div id="title">
                <img src="../images/icon48.png" alt="Redmine">
            </div>

            <div id="statistic">
                <div class="header">Dzisiejsze zgloszenia: </div>
                <div>
                    <div id="new_issuses">
                        <span class="count">11</span> nowych
                    </div>
                    
                    <div id="today_issuses">
                        <span class="count">111 230</span> wszytkich
                    </div>
                </div>    
            </div>

            <div id="issuses">
                <ul>
                    <li class="entery">#321 Bład sql</li>
                    <li class="entery">#3211 Bład książki pocztowej</li>
                    <li class="entery">#142 Bład migracji</li>
                </ul>
            </div>

            <div class="separator"></div>

            <div id="options">
                <div class="entery">Opcje</div>
                <div class="entery">Ukryj przycisk</div>
            </div>

            <div class="separator"></div>

            <div class="footer">
                <a id="open">Redmine</a>
            </div>
        </div>
    </body>
   
</html>