<!DOCTYPE html>
<html>
    <head>
        <title>Redmine Issuses</title>
        <link rel="stylesheet" type="text/css" href="../css/popup.css">
        <script src="../lib/jquery-3.1.0.min.js"></script>
        <script src="../src/popup.js"></script>
    </head>
    
    <body>
        <div id="wrapper">

            <div id="title">
                <img src="../images/icon48.png" alt="Redmine">
            </div>

            <div id="statistic">
                <div class="header">Dzisiejsze zgloszenia: </div>
                <div class="entery" id="new_issues">
                    <span class="count">0</span> nowych
                </div>
                <!--<div class="entery" id="total_issues">
                    <span class="count">0</span> wszystkich
                </div>-->
            </div>

            <div id="issues">
                <ul>
                    <li class="alert">Brak danych do wyświetlania</li>
                </ul>
            </div>

            <div class="separator"></div>

            <div id="settings">
                <div id="options" class="entery">Opcje</div>
                <div id="hide_icon" class="entery">Ukryj przycisk</div>
                <div class="info" style="display: none;">
                    Aby ukryć przycisk, kliknij prawym przyciskiem myszy na ikonie Redmine Issuses a następnie wybierz "Ukryj przycisk".
                    Możesz ponownie włączyć pokazywanie go pod adresem chrome://extensions/.
                </div>
            </div>

            <div class="separator"></div>

            <div class="footer">
                <a id="open">Redmine</a>
            </div>
        </div>
    </body>
   
</html>